body {
    font-family: Arial, sans-serif;
    background-color: #3b2042;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #333;
}

.music-player {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
}

.music-player picture {
    width: 100%;
    max-width: 300px;
}

.music-player img {
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
}

.music-player audio {
    width: 100%;
    margin-top: 10px;
}

.music-player a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3e9e2d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.music-player a:hover {
    background-color: #0056b3;
}



